.row:hover {
  background-color: red;
}

.row-colored:nth-child(odd) {
  background: rgb(2, 141, 99);
}
.row-colored:nth-child(even) {
  background: rgb(224, 113, 8);
}

.row-colored:hover {
  background-color: red;
}

th,
td {
  font-weight: bold;
  cursor: default;
}
